<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Functional Testing" parallel="none">
	<test name="Scenario1">
		<classes>
			<class name="com.testscenarios.CabBooking"></class>
		
		</classes>
	</test>
	
	<test name="Scenario2">
		<classes>
	
			<class name="com.testscenarios.CorporateGifting"></class>
			
		</classes>
	</test>
	<test name="Scenario3">
		<classes>
	
			<class name="com.testscenarios.HotelBooking"></class>
			
		</classes>
	</test>
</suite>
